# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.
charmed-kubeflow-chisme >= 0.3.0
# from observability_libs.v0.juju_topology.py
cosl
envoy_data_plane==0.2.5
# from observability_libs.v0.juju_topology.py
cosl
# if unpinned causes problems with installation resulting in module 'platform' has no attribute 'dist'
oci-image
ops
# # pydantic>=2.7 requires rustc v1.76 or newer,
# which is not available in the base OS this charm has at the moment (Ubuntu 20.04).
# To avoid build-time errors, pydantic has to be pinned to a version that can be built
# with the rustc version that the OS can provide.
# Remove this pin when the base OS can install rustc v1.76 or newer.
pydantic>=2.6,<2.7
