# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: "."

  lint:
    name: Lint Check
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: python3 -m pipx install tox

    - name: Lint code
      run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: python3 -m pipx install tox

    - name: Run unit tests
      run: tox -e unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .

  deploy:
    name: Integration Tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        test-type: [integration, integration-ambient]

    steps:
    - name: Maximise GH runner space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be
    - name: Check out repo
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox

    - name: Setup environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        sudo snap install concierge --classic
        sudo concierge prepare --trace

    - name: Configure Cilium for Canonical K8s
      if: matrix.test-type == 'integration-ambient'
      run: |
        # Configure Cilium for Canonical K8s to work with Charmed Istio (Ambient mode)
        # See https://canonical-service-mesh-documentation.readthedocs-hosted.com/en/latest/how-to/use-charmed-istio-with-canonical-kubernetes/
        kubectl -n kube-system patch configmap cilium-config --type merge --patch '{"data":{"bpf-lb-sock-hostns-only":"true"}}'
        kubectl -n kube-system rollout restart daemonset cilium

    - name: Test
      run: tox -vve ${{ matrix.test-type }} -- --model testing

    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get envoy workload logs
      run: kubectl logs --tail 100 -ntesting -ljuju-app=envoy
      if: failure()

    - name: Get envoy operator logs
      run: kubectl logs --tail 100 -ntesting -ljuju-operator=envoy
      if: failure()

    - name: Get mlmd workload logs
      run: kubectl logs --tail 100 -ntesting -ljuju-app=mlmd
      if: failure()

    - name: Get mlmd operator logs
      run: kubectl logs --tail 100 -ntesting -ljuju-operator=mlmd
      if: failure()

    - name: Get istio-pilot workload logs
      run: kubectl logs --tail 100 -ntesting -ljuju-app=istio-pilot
      if: failure()

    - name: Get istio-pilot operator logs
      run: kubectl logs --tail 100 -ntesting -ljuju-operator=istio-pilot
      if: failure()

    - name: Collect charm debug artifacts
      uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
      if: failure()
